.card {
    background-color: #f5f5f5;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 15px;
    height: 100%;
  
    .title {
      font-family: "Inter";
      font-weight: 700;
      font-size: 16px;
    }
  
    .text {
      font-family: "Inter";
      font-weight: 400;
      font-size: 14px;
    }
  
    .description {
      hyphens: auto;
      display: -webkit-box;
      line-clamp: 5;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-align: justify;
    }
  }
  