<div class="feed">
  <div class="feed-header">
    <button mat-flat-button color="primary" routerLink="create">Créer un article</button>
    @if ((feed$ | async)?.length ?? 0 > 0) {
    <button mat-button (click)="onSortClicked()">
      Trier par {{ sortOrder === "asc" ? "↑" : "↓" }}
    </button>
    }
  </div>
  <div class="feed-content">
    <app-post-card *ngFor="let post of feed$ | async" [post]="post">
    </app-post-card>
    <div *ngIf="(feed$ | async)?.length === 0">
      Votre fils d'actualité est vide. Abonnez vous à des thèmes pour le
      remplir.
    </div>
  </div>
</div>
