h1 {
    margin-top: 15px;
}

.list {
    display: grid;
    grid-column-gap: 6px;
    grid-row-gap: 14px;
    margin-top: 10px;
  
    app-topic-card {
      aspect-ratio: 2.43;
    }
  }
  
  @media screen and (max-width: 433px) {
    .list {
      grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
      margin-left: 15px;
      margin-right: 15px;
    }
  }
  
  @media screen and (min-width: 432px) {
    .list {
      grid-template-columns: repeat(auto-fit, minmax(392px, 1fr));
      margin-left: 24px;
      margin-right: 24px;
    }
  }
  