.profile {
  margin-top: 64px;
  padding-top: 26px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.submit-container {
  margin-top: 10px;
  text-align: center;
}

.logout {
  color: #a40f0f;
  text-decoration: none;
  font-family: "Inter";
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 15px;
  display: block;
}

.logout:hover {
  text-decoration: underline;
}

@media screen and (max-width: 749px) {
  form {
    margin: 30px 22px 0px 22px;
  }

  hr.solid {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media screen and (min-width: 750px) {
  form {
    margin: 30px auto 0px auto;
    width: 281px;
  }

  hr.solid {
    margin-left: 60px;
    margin-right: 60px;
  }
}
