<div class="create">
  <div class="header">
    <button mat-button routerLink="/feed">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <h1>Créer un nouvel article</h1>
  </div>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field appearance="outline">
      <mat-label>Sélectionner un thème</mat-label>
      <mat-select ngDefaultControl formControlName="topic_id">
        <mat-option *ngFor="let topic of topics$ | async" [value]="topic.id">
          {{ topic.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Titre de l'article</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Contenu de l'article</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <div class="submit-container">
      <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="form.invalid"
      >
        Créer
      </button>
    </div>
  </form>
</div>
