<div class="details" *ngIf="post">
  <div class="header">
    <button mat-button routerLink="/feed"><mat-icon>keyboard_backspace</mat-icon></button>
    <span class="title">{{ post.title }}</span>
  </div>
  <span class="post-infos">
    <span class="text">{{ post.created_at | date : "longDate" }}</span>
    <span class="text">Autheur{{ post.author_id }}</span>
    <span class="text">Thème{{ post.topic_id }}</span>
  </span>
  <span class="text description">{{ post.content }}</span>
  <mat-divider></mat-divider>
  <app-comments [postId]="post.id"></app-comments>
</div>