/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

hr.solid {
  border-top: 1px solid #000;
}

h1 {
  font-family: "Inter" !important;
  font-weight: 700 !important;
  font-size: 24px !important;
  text-align: center !important;
  margin-bottom: 0px !important;
}